@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    font-size: 50px;
}
body{
    font-size: 12px;
    font-family: 'Roboto', 'Inter', sans-serif;;
}
.main_logo_and_slogan_container_header {
    background: var(--theme-gradiant-color);
    display: flex;
}

.main_logo_and_slogan_container_header .main_welcome_header_logo_section {
    margin: auto;
}

.main_logo_and_slogan_container_header .main_welcome_header_logo_section svg {
    margin: auto;
    padding-right: 0px;
}
.main_logo_and_slogan_container_header .main_welcome_header_logo_section .logo_login_text {
    margin: auto;
    text-align: center;
    font-size: 0.6rem;
    color: #ffffff;
    font-weight: 900;
}
.welcome_slogan_container {
    width: 100%;
}

.main_logo_and_slogan_container_header.login_text_in_page {
    padding: 18px;
    color: #ffffff;
    font-size: .29333rem;
}


.main_logo_and_slogan_container_header.login_text_in_page .login_head {
    font-size: 0.4rem;
    font-weight: 700;
    color: #fff;
    padding-bottom: 10px;
}

.main_logo_and_slogan_container_header.logo_section {
    padding: 20px 0px;
    border-bottom: 1px solid #d2d2d2;
}
.main_form_container_section {
    padding: 16px;
    background: var(--off-white-back-color);
    height: 90vh;
}

.main_form_container_section .login_form_label {
    font-size: .4rem;
    display: flex;
    align-items: center;
}

.main_form_container_section .login_form_label svg {
    width: .64rem;
    height: .64rem;
    margin-right: .16rem;
}

.main_form_container_section .signup_button_main_form {
    background-color: var(--theme-primary-button-color);
    width: 100%;
    height: 50px;
    color: var(--theme-button-text-color);
    margin-top: 10px;
    font-size: .4rem;
    font-weight: 700;
    letter-spacing: .04333rem;
    border-radius: 1.06667rem;
    border: none;
}

.main_form_container_section .otp_button_main_form {
    background-color: var(--theme-primary-button-color);
    width: 100%;
    height: 45px;
    color: var(--theme-button-text-color);
    margin-top: 10px;
    font-size: .3rem;
    font-weight: 700;
    letter-spacing: .04333rem;
    border-radius: 1.06667rem;
    border: none;
}

.main_form_container_section .form_input_section.input {
    width: 100%;
    padding-left: 10px;
}

.main_form_container_section .form_input_section {
    padding-left: 10px;
    background: var(--theme-background-secondry-color);
    border: none;
    border-radius: .26667rem;
    color: var(--theme-text-color);
    height: 45px;
    font-size: .37333rem;
    width: 100%;
    margin-top: 10px;
}
.main_form_container_section .form_second_label_input {
    margin-top: 0.5rem;
}
.loading-spinner+.loading-content {
    font-size: .37em;
}
.first_time_user_container_screen .logo_in_container svg {
    margin: auto;
}
.profile_account_main_page_header_container{
    background: var(--off-white-back-color);
    height: 100vh;
}
.profile_account_main_page_header_container .profile_account_main_page_header_container_background{
    width: 100%;
    height: 5.6rem;
    padding-bottom: 2.90667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    border-radius: 0 0 .8rem .8rem;
    background: var(--theme-gradiant-color);
}

.profile_account_container-content__avatar .userAvatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_account_container-content__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: .2rem;
    overflow: hidden;
}
.userInfo__container-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 .45333rem;
    color: #fff;
}
.profile_account_main_page_header_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.userInfo__container-content__name {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    line-height: 23px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    color: #ffffff;
}
.userInfo__container-content-nickname {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: .49rem;
    color: #fff;
}

.userInfo__container-content-logintime {
    font-size: .29rem;
}
.userInfo__container-content-uid {
    padding: .06667rem 0;
    font-size: .37rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.profile_account_main_userinfo_content{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: .53333rem;
    padding: 0 .32rem .32rem;
    position: relative;
    top: -2.18667rem;
}
.profile_account_main_userinfo_content .totalSavings__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 2.6rem;
    border-radius: .26667rem;
    background: #ffffff;
}

.totalSavings__container-header {
    width: 100%;
    padding: .37333rem .52rem 0 .36rem;
}

.totalSavings__container-header-box {
    padding-bottom: .26667rem;
    position: relative;
}
.totalSavings__container-header__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.totalSavings__container-header__title span {
    font-weight: 400;
    font-size: .41rem;
    color: var(--text_color_L2);
}
.totalSavings__container-header__subtitle {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-column-gap: .32rem;
    column-gap: .32rem;
    width: 100%;
    margin-top: .2rem;
    font-size: .49rem;
    font-weight: 700;
    color: var(--text_color_L1);
}
.totalSavings__container-header__subtitle .svg-icon {
    width: 1.3em;
    height: 1.3em;
    vertical-align: middle;
}
.ar-1px-b:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: .01333rem;
    border-bottom: .01333rem solid var(--Dividing-line_color);
    color: #e6e8e8;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.financialServices__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: .53333rem;
}

.financialServices__container-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: .26667rem;
}

.financialServices__container-box>div {
    width: calc((100% - .26667rem) / 2);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    color: var(--text_color_L2);
    padding: .24rem;
    background: #ffffff;
    border-radius: .13333rem;
}
.financialServices__container-box>div svg {
    width: 1rem;
    height: 1rem;
}
.financialServices__container-box>div>div {
    position: relative;
    padding: .13333rem;
    border-radius: .26667rem;
}

.financialServices__container-box-para {
    padding: 0 .13333rem;
    box-shadow: none !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.financialServices__container-box-para h3 {
    font-size: .37333rem;
    color: var(--text_color_L1);
}
.financialServices__container-box>div span {
    font-size: .32rem;
    color: var(--text_color_L2);
}
.serviceCenter__container {
    padding: .53333rem .32rem;
    border-radius: .26667rem;
    background: #ffffff;
    height: 5.33333rem;
}
.serviceCenter__container h1 {
    margin-bottom: .58667rem;
    color: var(--text_color_L1);
    font-size: .4rem;
}
.serviceCenter__container-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: .32rem;
    color: var(--text_color_L2);
}
.serviceCenter__container-items__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .13333rem;
    font-size: .32rem;
}
.serviceCenter__container-items__item svg {
    width: .8rem;
    height: .8rem;
}
.serviceCenter__container-items__item span {
    text-align: center;
}
.serviceCenter-wrap-header {
    margin: 1.06667rem 0 .26667rem;
}
.serviceCenter-wrap-header button {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    padding-block: .13333rem;
    color: var(--main-color);
    background: #ffffff;
    border: .01333rem solid var(--main-color);
    border-radius: .66667rem;
    font-size: .4rem;
    gap: .32rem;
}
.serviceCenter-wrap-header button svg {
    width: .64rem;
    height: .64rem;
}
.signup_button_main_form.signup,.signup_button_main_form.login {
    border: 1px solid var(--theme-primary-button-color);
    background: none;
    color: var(--theme-primary-button-color);
}

.custom_site_alert_toast h2 {
    font-size: .5rem!important;
}

.custom_site_alert_toast .alert-message {
    font-size: .35rem;
}

.custom_site_alert_toast .alert-button-role-confirm {
    font-size: 0.35rem;
    color: #ffffff;
    background: var(--ion-color-primary, #3880ff);
    border-radius: 10px;
    text-transform: none;
    width: 45%;
    padding: 0px;
    height: fit-content;
}

.custom_site_alert_toast .alert-button-role-cancel {
    font-size: .35rem;
    background: #ccc;
    color: #ffffff;
    border-radius: 10px;
    text-transform: none;
    width: 45%;
    padding: 0px;
    height: fit-content;
}

.custom_site_alert_toast  .alert-button-group {
    justify-content: center;
}

.custom_site_alert_toast .alert-button-inner {
    justify-content: center;
}

.wallet-container-header {
    background: var(--theme-gradiant-color, var(--bg_color_L2));
    width: 100%;
    color: #fff;
    padding-bottom: .32rem;
}

.wallet-container-header-belly {
    padding-top: .13333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.wallet-container-header-belly svg {
    width: 1.06667rem;
    height: 1.06667rem;
}
.wallet-container-header-belly>div:nth-of-type(1) {
    margin: .10667rem 0;
    font-size: .64rem;
    line-height: .64rem;
}
.wallet-container span {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: .46667rem;
    letter-spacing: .04em;
    font-size: .32rem;
    text-align: center;
}
.wallet-container-header-belly .wallet_header {
    font-size: .48rem;
}

.wallet-container-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: .32rem;
    padding-inline: .4rem;
    padding-bottom: 1.6rem;
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.wallet-container-content .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    min-height: 9.06667rem;
    padding: .62667rem .18667rem .26667rem;
    font-family: bahnschrift;
    border-radius: .26667rem;
    background-color: var(--bg_color_L2);
    width: 100%;
    margin-top: .32rem;
}
.wallet-container-content .container .progressBars {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-bottom: .4rem;
}
.wallet-container-content .container .progressBars>div {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.wallet-container-content .container .progressBars>div .van-circle {
    width: 2.45333rem;
    height: 2.45333rem;
}

.van-circle {
    position: relative;
    display: inline-block;
    text-align: center;
}
.wallet-container-content .container .progressBars>div h3 {
    margin-top: .16rem;
}

.wallet-container h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: .46667rem;
    letter-spacing: .04em;
    font-size: .4rem;
    color: var(--text_color_L1);
}
.wallet-container .progressBars span {
    color: var(--text_color_L1);
}

.wallet-container {
    font-family: 'Roboto', 'Inter', sans-serif;
    width: 100%;
    height: 100%;
    background: var(--off-white-back-color);
}

.wallet-container span {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: .46667rem;
    letter-spacing: .04em;
    font-size: .32rem;
    text-align: center;
}
.van-circle svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.van-circle__layer {
    stroke: var(--bg_color_L3);
}
.wallet-container-content .container .recycleBtnD {
    width: 100%;
    text-align: center;
    margin-bottom: .4rem;
}
.wallet-container-content .container .recycleBtnD .recycleBtn {
    width: 100%;
    height: .93333rem;
    color: #fff;
    font-size: .4rem;
    font-weight: 600;
    letter-spacing: .016rem;
    border: none;
    border-radius: 1.06667rem;
    background: var(--theme-gradiant-color);
}
.wallet-container-content .container .userDetail {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .28rem;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -webkit-flex-direction: initial;
    flex-direction: initial;
    width: 100%;
    margin-top: .26667rem;
}
.wallet-container-content .container .userDetail>div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    gap: .13333rem;
}
.wallet-container-content .container .userDetail>div .imgD {
    width: 1.30667rem;
    height: 1.30667rem;
    border-radius: .4rem;
    background: var(--bg_color_L2);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: .13333rem;
}
.wallet-container .imgD img {
    position: relative;
    width: calc(100% + .32rem);
}

.wallet-container-content .container .userDetail>div .imgD img {
    width: 100%;
    height: auto;
}
.wallet-container-content .container .userDetail>div span {
    font-size: .32rem;
}

.wallet-container span {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: .46667rem;
    letter-spacing: .04em;
    font-size: .32rem;
    text-align: center;
}
.van-circle__hover {
    fill: none;
    stroke: var(--theme-primary-button-color);
    stroke-linecap: round;
}
.wallet-container-content .container .progressBars .van-circle__text {
    font-size: .4rem;
    font-weight: 600;
    color: var(--text_color_L1);
}
.van-circle__text {
    position: absolute;
    top: 50%;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0 4px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}