@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    font-size: .3rem;
}
.fontsize1{
    font-size: .4rem;
}
.fontsize2{
    font-size: .3rem;
}
html{
    font-size: 50px;
}
body{
    font-size: 12px;
    font-family: 'Roboto', 'Inter', sans-serif;;
}
ion-header {
    box-shadow: none!important;
}
.main_logo_and_slogan_container_header {
    background: var(--theme-gradiant-color);
    display: flex;
}

.main_logo_and_slogan_container_header .main_welcome_header_logo_section {
    margin: auto;
}

.main_logo_and_slogan_container_header .main_welcome_header_logo_section svg {
    margin: auto;
    padding-right: 0px;
}
.main_logo_and_slogan_container_header .main_welcome_header_logo_section .logo_login_text {
    margin: auto;
    text-align: center;
    font-size: 0.6rem;
    color: #ffffff;
    font-weight: 900;
}
.welcome_slogan_container {
    width: 100%;
}

.main_logo_and_slogan_container_header.login_text_in_page {
    padding: 18px;
    color: #ffffff;
    font-size: .29333rem;
}
.content-theme-off-white-bg-color{
    background: var(--off-white-back-color)!important;
}

.main_logo_and_slogan_container_header.login_text_in_page .login_head {
    font-size: 0.4rem;
    font-weight: 700;
    color: #fff;
    padding-bottom: 10px;
}

.main_logo_and_slogan_container_header.logo_section {
    padding: 20px 0px;
    border-bottom: 1px solid #d2d2d2;
}
.main_form_container_section {
    padding: 16px;
    background: var(--off-white-back-color);
    height: 90vh;
}

.main_form_container_section .login_form_label {
    font-size: .4rem;
    display: flex;
    align-items: center;
}

.main_form_container_section .login_form_label svg {
    width: .64rem;
    height: .64rem;
    margin-right: .16rem;
}

.main_form_container_section .signup_button_main_form {
    background-color: var(--theme-primary-button-color);
    width: 100%;
    height: 50px;
    color: var(--theme-button-text-color);
    margin-top: 10px;
    font-size: .4rem;
    font-weight: 700;
    letter-spacing: .04333rem;
    border-radius: 1.06667rem;
    border: none;
}

.main_form_container_section .otp_button_main_form {
    background-color: var(--theme-primary-button-color);
    width: 100%;
    height: 45px;
    color: var(--theme-button-text-color);
    margin-top: 10px;
    font-size: .3rem;
    font-weight: 700;
    letter-spacing: .04333rem;
    border-radius: 1.06667rem;
    border: none;
}

.main_form_container_section .form_input_section.input {
    width: 100%;
    padding-left: 10px;
}

.main_form_container_section .form_input_section {
    padding-left: 10px;
    background: var(--theme-background-secondry-color);
    border: none;
    border-radius: .26667rem;
    color: var(--theme-text-color);
    height: 45px;
    font-size: .37333rem;
    width: 100%;
    margin-top: 10px;
}
.main_form_container_section .form_second_label_input {
    margin-top: 0.5rem;
}
.loading-spinner+.loading-content {
    font-size: .37em;
}
.first_time_user_container_screen .logo_in_container svg {
    margin: auto;
}
.profile_account_main_page_header_container{
    background: var(--off-white-back-color);
    height: 100vh;
}
.profile_account_main_page_header_container .profile_account_main_page_header_container_background{
    width: 100%;
    height: 5.6rem;
    padding-bottom: 2.90667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    border-radius: 0 0 .8rem .8rem;
    background: var(--theme-gradiant-color);
}

.profile_account_container-content__avatar .userAvatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_account_container-content__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: .2rem;
    overflow: hidden;
}
.userInfo__container-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 .45333rem;
    color: #fff;
}
.profile_account_main_page_header_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.profile_account_main_page_header_wrapper .userAvatarWrapper{
    width: 100%;
    height: 100%;
}
.userInfo__container-content__name {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    line-height: 23px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    color: #ffffff;
}
.userInfo__container-content-nickname {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: .49rem;
    color: #fff;
}

.userInfo__container-content-nickname_edit{
    display: flex;
    align-items:center;
    gap:0.2rem;
}

.userInfo__container-content-nickname_input{
    font-size:0.4rem;
    padding: 0.1rem;
    color:var(--text_color_L1);
}

.userInfo__container-content-nickname_edit_icon{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.4rem;
}

.userInfo__container-content-logintime {
    font-size: .29rem;
}
.userInfo__container-content-uid {
    padding: .06667rem 0;
    font-size: .37rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.profile_account_main_userinfo_content{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: .53333rem;
    padding: 0 .32rem .32rem;
    position: relative;
    top: -2.18667rem;
}
.profile_account_main_userinfo_content .totalSavings__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 2.6rem;
    border-radius: .26667rem;
    background: #ffffff;
}

.totalSavings__container-header {
    width: 100%;
    padding: .37333rem .52rem 0 .36rem;
}

.totalSavings__container-header-box {
    padding-bottom: .26667rem;
    position: relative;
}
.totalSavings__container-header__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.totalSavings__container-header__title span {
    font-weight: 400;
    font-size: .41rem;
    color: var(--text_color_L2);
}
.totalSavings__container-header__subtitle {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-column-gap: .32rem;
    column-gap: .32rem;
    width: 100%;
    margin-top: .2rem;
    font-size: .49rem;
    font-weight: 700;
    color: var(--text_color_L1);
}
.totalSavings__container-header__subtitle .svg-icon {
    width: 1.3em;
    height: 1.3em;
    vertical-align: middle;
}
.ar-1px-b:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: .01333rem;
    border-bottom: .01333rem solid var(--Dividing-line_color);
    color: #e6e8e8;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.financialServices__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: .53333rem;
}

.financialServices__container-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: .26667rem;
}

.financialServices__container-box>div {
    width: calc((100% - .26667rem) / 2);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    color: var(--text_color_L2);
    padding: .24rem;
    background: #ffffff;
    border-radius: .13333rem;
}
.financialServices__container-box>div svg {
    width: 1rem;
    height: 1rem;
}
.financialServices__container-box>div>div {
    position: relative;
    padding: .13333rem;
    border-radius: .26667rem;
}

.financialServices__container-box-para {
    padding: 0 .13333rem;
    box-shadow: none !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.financialServices__container-box-para h3 {
    font-size: .37333rem;
    color: var(--text_color_L1);
}
.financialServices__container-box>div span {
    font-size: .32rem;
    color: var(--text_color_L2);
}
.serviceCenter__container {
    padding: .53333rem .32rem;
    border-radius: .26667rem;
    background: #ffffff;
    height: 5.33333rem;
}
.serviceCenter__container h1 {
    margin-bottom: .58667rem;
    color: var(--text_color_L1);
    font-size: .4rem;
}
.serviceCenter__container-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: .32rem;
    color: var(--text_color_L2);
}
.serviceCenter__container-items__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .13333rem;
    font-size: .32rem;
}
.serviceCenter__container-items__item svg {
    width: .8rem;
    height: .8rem;
}
.serviceCenter__container-items__item span {
    text-align: center;
}
.serviceCenter-wrap-header {
    margin: 1.06667rem 0 .26667rem;
}
.serviceCenter-wrap-header button {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    padding-block: .13333rem;
    color: var(--main-color);
    background: #ffffff;
    border: .01333rem solid var(--main-color);
    border-radius: .66667rem;
    font-size: .4rem;
    gap: .32rem;
}
.serviceCenter-wrap-header button svg {
    width: .64rem;
    height: .64rem;
}
.signup_button_main_form.signup,.signup_button_main_form.login {
    border: 1px solid var(--theme-primary-button-color);
    background: none;
    color: var(--theme-primary-button-color);
}

.custom_site_alert_toast h2 {
    font-size: .5rem!important;
}
.loading_loader_spinner_container .loading-wrapper{
    padding-bottom: .2rem!important;
    padding-top: 0.2rem!important;
}

.custom_site_alert_toast .alert-message {
    font-size: .35rem!important;
}

.custom_site_alert_toast .alert-button-role-confirm {
    font-size: 0.35rem!important;
    color: #ffffff!important;
    background: var(--ion-color-primary, #3880ff)!important;
    border-radius: 10px!important;
    text-transform: none!important;
    width: 45%!important;
    padding: 0px!important;
    height: fit-content!important;
}

.custom_site_alert_toast .alert-button-role-cancel {
    font-size: .35rem!important;
    background: #cccccc!important;
    color: #ffffff!important;
    border-radius: 10px!important;
    text-transform: none!important;
    width: 45%!important;
    padding: 0px!important;
    height: fit-content!important;
}

.custom_site_alert_toast  .alert-button-group {
    justify-content: center!important;
}

.custom_site_alert_toast .alert-button-inner {
    justify-content: center!important;
}

.wallet-container-header {
    background: var(--theme-gradiant-color, var(--bg_color_L2));
    width: 100%;
    color: #fff;
    padding-bottom: .32rem;
}

.wallet-container-header-belly {
    padding-top: .13333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.wallet-container-header-belly svg {
    width: 1.06667rem;
    height: 1.06667rem;
}
.wallet-container-header-belly>div:nth-of-type(1) {
    margin: .10667rem 0;
    font-size: .64rem;
    line-height: .64rem;
}
.wallet-container span {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: .46667rem;
    letter-spacing: .04em;
    font-size: .32rem;
    text-align: center;
}
.wallet-container-header-belly .wallet_header {
    font-size: .48rem;
}

.wallet-container-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: .32rem;
    padding-inline: .4rem;
    padding-bottom: 1.6rem;
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.wallet-container-content .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    min-height: 9.06667rem;
    padding: .62667rem .18667rem .26667rem;
    font-family: bahnschrift;
    border-radius: .26667rem;
    background-color: var(--bg_color_L2);
    width: 100%;
    margin-top: .32rem;
}
.wallet-container-content .container .progressBars {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-bottom: .4rem;
}
.wallet-container-content .container .progressBars>div {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.wallet-container-content .container .progressBars>div .van-circle {
    width: 2.45333rem;
    height: 2.45333rem;
}

.van-circle {
    position: relative;
    display: inline-block;
    text-align: center;
}
.wallet-container-content .container .progressBars>div h3 {
    margin-top: .16rem;
}

.wallet-container h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: .46667rem;
    letter-spacing: .04em;
    font-size: .4rem;
    color: var(--text_color_L1);
}
.wallet-container .progressBars span {
    color: var(--text_color_L1);
}

.wallet-container {
    font-family: 'Roboto', 'Inter', sans-serif;
    width: 100%;
    height: 100%;
    background: var(--off-white-back-color);
}

.wallet-container span {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: .46667rem;
    letter-spacing: .04em;
    font-size: .32rem;
    text-align: center;
}
.van-circle svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.van-circle__layer {
    stroke: var(--bg_color_L3);
}
.wallet-container-content .container .recycleBtnD {
    width: 100%;
    text-align: center;
    margin-bottom: .4rem;
}
.wallet-container-content .container .recycleBtnD .recycleBtn {
    width: 100%;
    height: .93333rem;
    color: #fff;
    font-size: .4rem;
    font-weight: 600;
    letter-spacing: .016rem;
    border: none;
    border-radius: 1.06667rem;
    background: var(--theme-gradiant-color);
}
.wallet-container-content .container .userDetail {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .28rem;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -webkit-flex-direction: initial;
    flex-direction: initial;
    width: 100%;
    margin-top: .26667rem;
}
.wallet-container-content .container .userDetail>div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    gap: .13333rem;
}
.wallet-container-content .container .userDetail>div .imgD {
    width: 1.30667rem;
    height: 1.30667rem;
    border-radius: .4rem;
    background: var(--bg_color_L2);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: .13333rem;
}
.wallet-container .imgD img {
    position: relative;
    width: calc(100% + .32rem);
}

.wallet-container-content .container .userDetail>div .imgD img {
    width: 100%;
    height: auto;
}
.wallet-container-content .container .userDetail>div span {
    font-size: .32rem;
}

.wallet-container span {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: .46667rem;
    letter-spacing: .04em;
    font-size: .32rem;
    text-align: center;
}
.van-circle__hover {
    fill: none;
    stroke: var(--theme-primary-button-color);
    stroke-linecap: round;
}
.wallet-container-content .container .progressBars .van-circle__text {
    font-size: .4rem;
    font-weight: 600;
    color: var(--text_color_L1);
}
.van-circle__text {
    position: absolute;
    top: 50%;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0 4px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.content-getbet {
    padding: 0 .32rem;
    background: var(--bg_color_L1) !important;
}
.navbar {
    height: 1.22667rem;
    z-index: 100;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
}
.navbar-fixed {
    position: fixed;
    top: 0;
    -webkit-user-select: none;
    user-select: none;
    z-index: 100;
    background: var(--bg_color_L2);
    color: var(--text_color_L1);
    width: 100%;
    left: 0;
    -webkit-transform: translateX(0);
    transform: translate(0);
}
.navbar__content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 1.22667rem;
    color: var(--text_color_L1);
    background: var(--theme-gradiant-color);
}
.navbar__content-left {
    position: absolute;
    left: .32rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    top: 0;
}
.navbar__content-left img {
    height: 70%;
    margin-right: 10px;
}
.navbar__content-left span {
    font-size: .4rem;
    font-weight: 600;
    margin-top: .2rem;
    color: #ffffff;
}
.Wallet__C {
    padding: .48rem .34667rem 0;
    position: relative;
}

.Wallet__C-balance {
    min-height: 3.57333rem;
    background-color: var(--bg_color_L3);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: .53333rem;
    padding: .46667rem .54667rem .4rem;
    position: relative;
    z-index: 0;
}
.Wallet__C-balance {
    min-height: 3.57333rem;
    background-color: var(--bg_color_L3);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: .53333rem;
    padding: .46667rem .54667rem .4rem;
    position: relative;
    z-index: 0;
}
.Wallet__C-balance-l1 {
    min-height: .58667rem;
    line-height: .58667rem;
    text-align: center;
    font-weight: 700;
    font-size: .48rem;
    color: var(--text_color_L1);
    overflow: hidden;
}
.Wallet__C-balance-l1>div {
    position: relative;
    word-break: break-all;
    pointer-events: none;
    width: fit-content;
    margin: auto;
}
.Wallet__C-balance-l2 {
    height: .53333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: .18667rem;
    font-size: .34667rem;
    color: var(--text_color_L1);
}
.Wallet__C-balance-l2>svg {
    width: .53333rem;
    height: .53333rem;
    margin-right: .13333rem;
}
.Wallet__C-balance-l3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: .46667rem;
}
.Wallet__C-balance-l3>div {
    width: 100%;
    height: .93333rem;
    line-height: 1.1rem;
    background: var(--norm_green-color);
    border-radius: .53333rem;
    font-weight: 600;
    font-size: .4rem;
    color: #fff;
    text-align: center;
}
.navbar__content-right {
    position: absolute;
    right: .32rem;
}
.content-getbet__right {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .2rem;
}
.content-getbet__right .message {
    color: #ffffff;
    font-size: .35rem;
    padding-top: 0.16rem;
}
.GameList__C {
    height: 2.4rem;
    width: calc(100% - .69333rem);
    background: var(--bg_color_L3);
    border-radius: .26667rem;
    position: relative;
    margin: .34667rem auto 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.getbet__container.allGame {
    grid-template-columns: repeat(3, 1fr);
}

.getbet__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .1rem;
    margin-bottom: .82667rem;
}
.getbet__container.allGame .item {
    width: 2.4rem;
    height: auto;
}

.getbet__container .item {
    position: relative;
    border-radius: .26667rem;
}
.getbet__container.allGame .item .gameImg {
    width: 2.4rem;
    height: 3.6rem;
}

.getbet__container .item .gameImg {
    width: 3.36rem;
    height: 4.26667rem;
    border-radius: .26667rem;
    background: var(--theme-gradiant-color);
}
.getbet-title.getbet-line {
    padding-left: .26667rem;
    color: var(--text_color_L2);
    gap: .53333rem;
}

.getbet-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: relative;
    font-size: .48rem;
    height: .8rem;
    font-weight: 700;
}
.getbet-title.getbet-line:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: .13333rem;
    height: .48rem;
    background: var(--main-color);
    border-radius: .06667rem;
}
.getbet-title-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: .38rem;
    font-weight: 600;
    gap: .06667rem;
    color: var(--text_color_L1);
}
.getbet__container_main_body {
    margin-top: .8rem;
    padding: .2rem;
}
.processing_fee_container.first_list-item {
    box-shadow: none;
    padding: .26667rem;
    border-radius: .26667rem;
    background: var(--bg_color_L3);
    margin: .2rem;
}
.processing_fee_container.first_list-item .head {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: .18667rem;
}
.processing_fee_container.first_list-item .head .title {
    font-size: .4rem;
    color: var(--text_color_L1);
    font-weight: 600;
}
.processing_fee_container.first_list-item .head .orange {
    font-size: .4rem;
    color: var(--theme-primary-button-color);
    font-weight: 600;
}
.processing_fee_container.first_list-item .description {
    font-size: .29333rem;
    color: var(--text_color_L2);
    margin-bottom: .26667rem;
}
.processing_fee_container.first_list-item .foot {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.processing_fee_container.first_list-item .progress {
    background: #d8d8d8 !important;
    height: 43px;
    border-radius: 16px;
    position: relative;
    width: 100%;
}
.processing_fee_container.first_list-item .progress .step {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%) translateY(-50%);
    color: var(--text_color_L1);
    font-size: .35rem;
}

.error {
    color: #f70000;
}

.avatar-modal-main-wrapper .avatar-grid {
    margin-top: 0.625rem;
}

.avatar-modal-main-wrapper .avatar-col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem; /* Space between rows */
}

.avatar-modal-main-wrapper .avatar-col img{
    cursor: pointer;
}

/* Highlight selected avatar with a border */
.avatar-modal-main-wrapper .avatar-col .selected-avatar {
    border: 2px solid #4CAF50; /* Green border for selected avatar */
    transform: scale(1.1); /* Slight zoom effect */
}
.navbar__content-center {
    color: #ffffff;
    font-size: .4rem;
}

.inner_page.Wallet__C:before {
    content: "";
    display: block;
    width: 100%;
    height: 5rem;
    background: var(--theme-gradiant-color);
    border-radius: 0 0 1.53333rem 1.53333rem;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.inner_page.Wallet__C .Wallet__C-balance {
    min-height: 2rem!important;
}
.Betting__C {
    width: calc(100% - .69333rem);
    margin: .29333rem auto 0;
    background: var(--bg_color_L2);
    border-radius: .26667rem;
    position: relative;
}

.Betting__C-mark {
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    color: var(--main-color);
    border-radius: .26667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.Betting__C-mark>div {
    border-radius: .1rem;
    margin: 0 .1rem;
    background-color: var(--bg_color_L3);
    font-weight: 700;
    width: 20%;
    font-size: 1.2rem;
    text-align: center;
}
.TimeLeft__C {
    width: calc(100% - .69333rem);
    height: fit-content;
    margin: .48rem auto 0;
    background: var(--ion-color-primary);
    color: var(--text_color_L4);
    border-radius: .2rem;
    padding: 0.4rem;
}
.TimeLeft__C_bottom .TimeLeft__C-id {
    font-size: .37333rem;
    line-height: .52rem;
    color: #ffffff;
}
.Betting__C-numC {
    width: 100%;
    height: 7.5rem;
    margin-top: .34667rem;
    background: var(--bg_color_L1);
    border-radius: .26667rem;
    padding: 0.4rem;
}

.Betting__C-numC .Betting__C-numC-head {
    text-align: center;
    font-size: .45rem;
    color: var(--ion-color-primary);
    font-weight: 600;
}
.GameList__C {
    height: 2.4rem;
    width: calc(100% - .69333rem);
    background: var(--bg_color_L3);
    border-radius: .26667rem;
    position: relative;
    margin: .34667rem auto 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.GameList__C-item.active {
    background: var(--ion-color-primary);
    width: 35%;
}
.GameList__C-item {
    width: 65%;
    height: 100%;
    position: relative;
    z-index: 2;
    text-align: center;
    border-radius: .26667rem;
}

.GameList__C-item.active>div {
    height: 100%;
    line-height: .4rem;
    font-size: .32rem;
    margin: auto;
    padding-top: 1.44rem;
    background-size: 1.17333rem;
    background-position: center .18667rem;
    background-repeat: no-repeat;
    color: var(--text_color_L4);
    background-image: url(./img/time_a-win-go-img.png);
}
.GameList__C-item.not_active .bet_pre_txt_1 {
    letter-spacing: .04rem;
    font-size: .55rem;
    color: #00be00;
    font-weight: 600;
}

.GameList__C-item.not_active {
    box-shadow: 4px 0px 20px 0px #cccccc82;
    width: 65%;
    height: 100%;
    padding: .2rem;
}
.GameList__C-item.not_active .bet_pre_txt_2 {
    letter-spacing: .04rem;
    font-size: .5rem;
    color: var(--text_color_L1);
    font-weight: 600;
}


.TimeLeft__C-up .TimeLeft__C-id {
    font-weight: 700;
    font-size: .37333rem;
    height: .52rem;
    line-height: .52rem;
    color: #ffffff;
}
.TimeLeft__C-up .TimeLeft__C-time {
    height: .8rem;
    line-height: .8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-top: .3rem;
}
.TimeLeft__C-up .TimeLeft__C-time>div:first-child {
    background: var(--bg_color_L1);
}

.TimeLeft__C-up .TimeLeft__C-time>div {
    color: var(--text_color_L1);
    font-weight: 700;
    font-size: .48rem;
    text-align: center;
    padding: 0 .3rem;
    margin: auto;
    border-radius: .1rem;
    background-color: var(--bg_color_L2);
}
.TimeLeft__C-up  .TimeLeft__C-time>div+div {
    margin-left: .12rem;
}
.TimeLeft__C-up  .TimeLeft__C-time>div:last-child {
    background: var(--bg_color_L1);
}
.avatar_heading_choose {
    width: 100%;
    text-align: center;
    font-size: .4rem;
    border-bottom: 1px solid #f1f1f1;
}

.avatar_heading_choose h2 {
    letter-spacing: .01rem;
    padding-bottom: .1rem;
    padding-top: .1rem;
}

.avatar-grid .avatar-col .userAvatar {
    width: 86px;
    height: 86px;
    max-width: unset!important;
    box-shadow: 0px 0px 4px 0px #ccc;
}
.GameRecord__C {
    width: calc(100% - .69333rem);
    margin: .48rem auto 0;
    text-align: center;
    font-size: .32rem;
}
.GameRecord__C-head {
    height: 1.06667rem;
    line-height: 1.06667rem;
    background: var(--ion-color-primary);
    border-radius: .13333rem .13333rem 0 0;
    font-weight: 700;
    font-size: .34667rem;
    color: #fff;
    margin-top: .1rem;
}
.van-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.GameRecord__C-head .van-col {
    height: 1.06667rem;
    overflow: hidden;
}

.van-col--9 {
    flex: 0 0 50%;
    max-width: 50%;
}
.van-col {
    display: block;
    box-sizing: border-box;
    min-height: .01333rem;
}
.van-col--5 {
    flex: 0 0 25%;
    max-width: 25%;
}
.GameRecord__C-body {
    line-height: 1.06667rem;
}
.GameRecord__C-body>div {
    background: var(--bg_color_L2);
    color: var(--text_color_L1);
}
.TimeLeft__C_bottom.TimeLeft__C.for_warning_message {
    height: fit-content!important;
}

.serviceCenter-wrap-header.for_warning_message {
    padding: .3rem!important;
    margin: 0.5rem 0!important;
}

.add-money-to-game-wallet-modal .add_money_game_wallet_heading{
    width: 100%;
    text-align: center;
    font-size: .4rem;
    border-bottom: 1px solid #f1f1f1;
}

.add-money-to-game-wallet-modal .ion-padding h2 {
    letter-spacing: .01rem;
    padding-bottom: .1rem;
    padding-top: .1rem;
}

.add-money-to-game-wallet-modal .enter_amount_label {
    font-size: 0.5rem!important;
    font-weight: 500!important;
    color: #555!important;
    display: block!important;
}

.ar-searchbar__selector_clear {}.ar-searchbar__selector_clear {}

.list_status_type {
    text-align: center;
    padding-top: .1rem;
    line-height: .8rem;
    font-size: .4rem;
    color: #878787;
}

.list_status_type .list_status_type_item {
    border-bottom: 1px solid #ccc;
    padding: 0.2rem 0.1rem;
}
.list_status_type_item.active {
    color: var(--main-color)!important;
}

.add-money-to-game-wallet-modal .add-money-input {
    padding-left: 10px;
    background: var(--theme-background-secondry-color);
    border: 1px solid var(--theme-primary-button-color);
    border-radius: .1rem;
    color: var(--theme-text-color);
    height: 50px;
    font-size: .37rem;
    width: 100%;
    margin-top: .2rem;
}

.add-money-to-game-wallet-modal .submit-transfer-btn {
    background-color: var(--theme-primary-button-color);
    width: 100%;
    height: 50px;
    color: var(--theme-button-text-color);
    margin-top: 30px;
    font-size: .4rem;
    font-weight: 700;
    letter-spacing: .04333rem;
    border-radius: 1.06667rem;
    border: none;
}


.userInfo__container-setting-center {
    background: var(--bg_color_L2);
}

.userInfo__container-setting-center {
    background: var(--bg_color_L3);
    border-radius: .26667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: .29333rem .4rem;
    position: relative;
    z-index: 99;
}

.userInfo__container-setting-center-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.userInfo__container-content__avatar {
    border-width: .05333rem;
}

.userInfo__container-content__avatar {
    width: 1.86667rem;
    height: 1.86667rem;
    border-radius: 50%;
    margin-right: .2rem;
    overflow: hidden;
}
.userInfo__container-content__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userInfo__container-setting-center-header-edit {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    color: var(--text_color_L2);
}

.userInfo__container-setting-center-header-edit span {
    font-size: .34667rem;
    padding-right: .34667rem;
}
.van-icon {
    position: relative;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.van-badge__wrapper {
    position: relative;
    display: inline-block;
}
.userInfo__container-setting-center-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: .37333rem;
    color: var(--text_color_L1);
    padding: .62667rem 0;
}
.userInfo__container-setting-center-content h5 {
    color: var(--text_color_L2);
}
.userInfo__container-setting-center-content div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.ar-1px-b:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: .01333rem;
    border-bottom: .01333rem solid var(--Dividing-line_color);
    color: #e6e8e8;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.userInfo__container-setting-center-content span {
    -webkit-padding-end: .16rem;
    padding-inline-end: .16rem;
}

.userInfo__container-setting-center-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: .37333rem;
    color: var(--text_color_L1);
    padding: .62667rem 0;
}
.userInfo__container-setting-center-content h5 {
    color: var(--text_color_L2);
}

.userInfo__container-setting-center-content div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.userInfo__container-setting-center-content span {
    -webkit-padding-end: .16rem;
    padding-inline-end: .16rem;
}
.userInfo__container-setting-center-content svg {
    width: .45333rem;
    color: var(--main-color);
}
.content_setting-wrapper {
    position: relative;
    -webkit-padding-after: .13333rem;
    padding-block-end: .13333rem;
}
.content_setting-wrapper {
    padding: 0 .32rem;
    background: var(--bg_color_L1) !important;
    padding-top: 1rem;
    height: 100%;

}
.content_setting-wrapper .content-sub_title {
    margin-top: .4rem;
}
.content_setting-wrapper .content-sub_title>div {
    font-size: .42667rem;
    color: var(--text_color_L1);
    font-weight: 700;
    padding-left: .26667rem;
    margin-bottom: .26667rem;
    border-left: .08rem solid var(--main-color);
}
.setting_container .setting_container_item {
    height: 1.86667rem;
    background: var(--bg_color_L2);
    border-radius: .26667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: .34667rem .28rem;
    margin-bottom: .4rem;
}
.setting_container .setting_container_item div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
figure.icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 1.06667rem;
    height: 1.06667rem;
    border-radius: .26667rem;
}

.setting_container .setting_container_item:last-of-type div .icon svg {
    min-width: .93333rem;
    min-height: .93333rem;
}

.icon svg {
    min-width: 1.33333rem;
    min-height: 1.33333rem;
    color: var(--main-color);
}
.setting_container .setting_container_item span {
    font-size: .37333rem;
    color: var(--text_color_L1);
    padding: 0 .34667rem;
}
.setting_container .setting_container_item div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.setting_container .setting_container_item h5 {
    display: inline-block;
    font-size: .34667rem;
    color: var(--text_color_L2);
    margin-right: .45333rem;
}
.setting_container .setting_container_item {
    height: 1.86667rem;
    background: var(--bg_color_L2);
    border-radius: .26667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: .34667rem .28rem;
    margin-bottom: .4rem;
}
.bet-container .tabs {
    background: var(--bg_color_L1);
}
.fun-tabs {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: var(--bg_color_L1);
}
.bet-container-searchBar {
    margin-top: -.13333rem;
    padding-bottom: .24rem;
}

.ar-searchbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding-left: .2rem;
    padding-right: .2rem;
    padding-top: .4rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    gap: .29333rem;
    width: 100%;
    font-size: .37333rem;
    margin-top: .26667rem;
    margin-bottom: .21333rem;
}

.ar-searchbar__selector {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
;
    width: 4.53333rem;
    height: 1.06667rem !important;
}
.ar-searchbar__selector {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
;
    width: 4.53333rem;
    height: 1.06667rem;
    color: var(--text_color_L2);
}
.ar-searchbar__selector div {
    line-height: 1.06667rem;
}
.ar-searchbar__selector>div:first-of-type {
    position: relative;
    padding: 0 .26667rem;
    z-index: 10;
}
.ar-searchbar__selector>div {
    width: 100%;
    line-height: 1.06667rem;
    border-radius: .13333rem;
    background: var(--bg_color_L2);
}
.ar-searchbar__selector>div:first-of-type svg {
    position: absolute;
    top: 39%;
    right: .21333rem;
}

.infiniteScroll {
    min-height: 2.66667rem;
    border-radius: .16rem;
}

.infiniteScroll__loading {
    width: 100%;
    min-height: 1.4rem;
    margin-top: auto;
    padding-bottom: .4rem;
    color: var(--text_color_L1);
    font-size: .37333rem;
    text-align: center;
}
.infiniteScroll__loading .empty {
    margin-top: .53333rem;
}
.empty__container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.empty__container svg {
    opacity: .2;
}

.empty__container svg[data-v-f84b843f] {
    width: 5.17333rem;
    height: 3.02667rem;
    margin-top: .4rem;
    margin-bottom: .24667rem;
}
.empty__container p {
    color: var(--text_color_L3);
    font-size: .34667rem;
}
.svg-icon {
    width: 8em;
    height: 8em;
    vertical-align: middle;
}
.custom-datetime {
    font-size: 0.4rem!important;; /* Set font size */
}
.custom-datetime::part(month-year-button) {
    font-size: 0.4rem!important; /* Adjust individual picker item font size */
}
.custom-datetime::part(calendar-day) {
    font-size: 0.4rem!important;
}
